name: Checks
on:
  - pull_request
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DATABASE_FILENAME: .tmp/test_data.db
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Install modules
        run: corepack yarn
      - name: "Configure"
        run: cp .env.example .env
      - name: Run type check
        run: corepack yarn run check:types
      - name: Run lint check
        run: corepack yarn run check:lint
      - name: Run format check
        run: corepack yarn run check:format
      - name: Run build check
        run: corepack yarn run check:build
      - name: Run test check
        run: corepack yarn run check:test
